/* Style the active link */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Source+Sans+Pro:wght@300&display=swap');

  :root {
    /* Color Styles */
    --primary: #FBC257;
    --primary-light: #FCCC73;
    --dark-brown: #343434;
    --gray-1: #798092;
    --gray-2: #E6E6ED
    --white: #FFFFFF;

    /* Font SiZe Desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;
    
    /* Font Weight */
    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* Font-Weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;    
  }

  body {
    font-family: 'poppins',sans-serif;
  }

    span {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--primary)
  }

  .navbar {
    padding: 48px 0;
  }

  .nav-link {
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--dark-brown) !important;
  }

  .btn {
    padding: 15px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
  }

  .btn-primary {
    background-color: var(--primary);
    border: none;
  }

  .btn-primary:focus {
    background-color: var(--primary-light);
  }

  .btn-primary:hover {
    background-color: var(--primary-light);
  }
  .btn .btn-secondary {
    background-color: var(--gray-2);
    color: var(--gray-1);
  }
  .btn-secondary:focus {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.5) !important;
  }
  .btn-secondary:hover {
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
  }

  .section.hero {
    margin: 5rem 0;
  }

  .text-label,
  .text-hero-bold,
  .text-hero-bold{
    margin: 24px 0;
  }
.input-group {
    max-width: 500px;
    margin: auto;
  }

  .text-label {
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
  }
  
  .text-hero-bold {
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
  }

  .text-hero-regular {
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
  }

  .testimoni-brand {
    padding: 24px 0;
  }
  
  .input-group .form-control {
    border-radius: 0;
  }
  
  .input-group button {
    border-radius: 0;
  }

  @media (min-width: 1399.98px) {
    .container {
      width: 84%;
    }
    .testimoni-brand {
      padding: 4rem 5rem;
    }
  }

/* MOBILE SCREEN */
@media (max-width: 576px) {
  .navbar {
    padding: 20px 0;
  }

  .nav-link {
    margin-right: 7px 0;
  }

  .section.hero {
    margin: 2rem 0;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 1rem 0;
  }
  .ms-3 {
    margin-left: 0 !important;
  }

  .text-label,
  .text-hero-bold,
  .text-hero-bold {
    text-align: center;
  }

  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
  }

  .section.hero img {
    margin: 2rem 0;
  }
}

/* TABLET SCREEN */
@media (max-width: 768px) {
  .navbar {
    padding: 28px 0;
  }

  .nav-link {
    margin-right: 7px 0;
  }

  .section.hero {
    margin: 1rem 0;
    
  }
  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
  }

  .section.hero {
    margin: 2rem 0;
    
  }
}